<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h4>
    Welcome to {{ title }}!
  </h4>
</div>

<h3>{{sort}}</h3>

Promoted
<div *ngFor="let product of promoted">
    <p>{{product.name}} => {{product.price}} zł</p>
</div>
<hr>

<div *ngFor="let product of products">
  <p>{{product.name}} => {{product.price}} zł</p>
</div>

<hr>

<div *ngFor="let product of products">

    <p>{{product.name}} => {{product.price}} zł <strong *ngIf="product.promoted">Promoted</strong></p>
  </div>

